<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h2>Our range of Rifles and Actions</h2>
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Make</th>
          <th>Model</th>
          <th>Style</th>
          <th>Calibre</th>
          <th>Price</th>
          <th>Due</th>
          <th colspan="1"></th>
        </tr>
        </thead>

        <tbody>
        <% @rifles.each do |rifle| %>
            <tr>
              <td><%= link_to rifle.name, rifle %></td>
              <td><%= rifle.make.name %></td>
              <td><%= rifle.model %></td>
              <td><%= rifle.style %></td>
              <td><%= rifle.bore %></td>
              <td><%= number_to_currency(rifle.price) %></td>
              <td><%= rifle.due.name %></td>
              <td><%= link_to 'Full Details', rifle, :class => "btn btn-small btn-success" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

    </div>

    <div class="col-md-2">
      <%= render 'layouts/sidebar' %>
    </div>

  </div>
</div>
