<div class="container">
  <div class="row">
    <div class="col-md-10">

      <section class="search-results">
        <header>
          <h2>Rifles & Actions</h2>
        </header>
        <ol class="list-group">
          <% @rifles.each do |rifle| %>
              <li class="list-group-item clearfix">
                <h3 class="pull-right"><small class="text-uppercase">Model: <%= rifle.model %></small></h3>
                <h2 class="h2"><%= link_to rifle.name, rifle %><small> (<%= rifle.make.name %>)</small></h2>
                <h4 class="h3">Due: <%= rifle.due.name %></h4>
                <h4 class="pull-right">Bore: <%= rifle.bore %></h4>
              </li>
          <% end %>
        </ol>
      </section>

    </div>

    <div class="col-md-2">
      <p></p>

      <div class="btn-group-vertical" role="group">
        <%= link_to "Rifles & Actions", root_path, :class => "btn btn-success" %>
        <%= link_to "Barrels", root_path, :class => "btn btn-success" %>
        <%= link_to "Optics", root_path, :class => "btn btn-small btn-success" %>
        <%= link_to "Stocks", root_path, :class => "btn btn-small btn-success" %>
        <%= link_to "Archery", root_path, :class => "btn btn-small btn-success" %>
        <%= link_to "Triggers & Accesories", root_path, :class => "btn btn-small btn-success" %>
        <%= link_to "Miscellaneous", root_path, :class => "btn btn-small btn-success" %>
      </div>
    </div>
  </div>
</div>
