<%= simple_form_for @barrel, html: { multipart: true } do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :make %>
    <%= f.input :bore %>
    <%= f.input :twist %>
    <%= f.input :profile %>
    <%= f.input :material %>
    <%= f.input :qty %>
    <%= f.input :price %>
    <%= f.input :details %>
    <%= f.association :due %>
    <%= f.input :image %>
    <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
