<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2>
        <strong>
          <%= @barrel.name %>
        </strong>
      </h2>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-5">

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @barrel.name %>
      </p>

      <p>
        <strong>Model:</strong>
        <%= @barrel.model %>
      </p>

      <p>
        <strong>Make:</strong>
        <%= @barrel.make.name %>
      </p>

      <p>
        <strong>Details:</strong>
        <%= @details.html_safe %>
      </p>

      <p>
        <strong>Twist:</strong>
        <%= @barrel.twist %>
      </p>

      <p>
        <strong>Due:</strong>
        <%= @barrel.due.name %>
      </p>

      <%= link_to 'Back to Barrels', barrels_path, :class => "btn btn-success" %>
    </div>

    <div class="col-md-5">

      <p>
        <%= image_tag @barrel.image.url(:medium) %>
      </p>

    </div>

    <%= render 'layouts/sidebar' %>

</div>
