<p id="notice"><%= notice %></p>

<h1>Listing Preloveds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Model</th>
      <th>Price</th>
      <th>Details</th>
      <th>Active</th>
      <th>Make</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @preloveds.each do |preloved| %>
      <tr>
        <td><%= preloved.name %></td>
        <td><%= preloved.model %></td>
        <td><%= preloved.price %></td>
        <td><%= preloved.details %></td>
        <td><%= preloved.active %></td>
        <td><%= preloved.make %></td>
        <td><%= link_to 'Show', preloved %></td>
        <td><%= link_to 'Edit', edit_preloved_path(preloved) %></td>
        <td><%= link_to 'Destroy', preloved, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preloved', new_preloved_path %>
