<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @webpage.name %>
</p>

<p>
  <strong>Pagemd:</strong>
  <%= @webpage.pagemd %>
</p>

<p>
  <strong>Sidebar:</strong>
  <%= @webpage.sidebar %>
</p>

<p>
  <strong>Sidebarmd:</strong>
  <%= @webpage.sidebarmd %>
</p>

<%= link_to 'Edit', edit_webpage_path(@webpage) %> |
<%= link_to 'Back', webpages_path %>
