<p id="notice"><%= notice %></p>

<h1>Listing Archeries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Model</th>
      <th>Details</th>
      <th>Active</th>
      <th>Due</th>
      <th>Make</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @archeries.each do |archery| %>
      <tr>
        <td><%= archery.name %></td>
        <td><%= archery.model %></td>
        <td><%= archery.details %></td>
        <td><%= archery.active %></td>
        <td><%= archery.due %></td>
        <td><%= archery.make %></td>
        <td><%= link_to 'Show', archery %></td>
        <td><%= link_to 'Edit', edit_archery_path(archery) %></td>
        <td><%= link_to 'Destroy', archery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Archery', new_archery_path %>
