<div class="container">
  <div class="row">
    <div class="col-md-12">

      <p id="notice"><%= notice %></p>

      <h1>Listing Archeries</h1>

      <table class="table table-hover table-condensed">
        <thead>
        <tr>
          <th>Name</th>
          <th>Model</th>
          <th>Make</th>
          <th>Price</th>
          <th>Due</th>
          <th>Active</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @archeries.each do |archery| %>
            <tr>
              <td><%= archery.name %></td>
              <td><%= archery.model %></td>
              <td><%= archery.make.name %></td>
              <td><%= number_to_currency(archery.price) %></td>
              <td><%= archery.active %></td>
              <td><%= archery.due.name %></td>
              <td><%= link_to 'Show', archery, :class => "btn btn-small btn-info" %></td>
              <td><%= link_to 'Edit', edit_archery_path(archery), :class => "btn btn-small btn-success" %></td>
              <td><%= link_to 'Destroy', archery, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-small btn-danger" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Archery', new_archery_path, :class => "btn btn-small btn-success" %>

    </div>
  </div>
</div>
