<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2>
        <strong>
          <%= @archery.name %>
        </strong>
      </h2>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-5">

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Model:</strong>
        <%= @archery.model %>
      </p>

      <p>
        <strong>Make:</strong>
        <%= @archery.make %>
      </p>

      <p>
        <strong>Details:</strong>
        <%= @archery.details %>
      </p>

      <p>
        <strong>Size:</strong>
        <%= @archery.size %>
      </p>
      <p>
        <strong>Quantity:</strong>
        <%= @archery.qty %>
      </p>
      <p>
        <strong>Price:</strong>
        <%= number_to_currency(@archery.price) %>
      </p>

      <p>
        <strong>Active:</strong>
        <%= @archery.active %>
      </p>

      <p>
        <strong>Due:</strong>
        <%= @archery.due %>
      </p>


      <%= link_to 'Edit', edit_archery_path(@archery) %> |
      <%= link_to 'Back', archeries_path %>

    </div>

    <div class="col-md-5">

      <p>
        <%= image_tag @archery.image.url(:medium) %>
      </p>

    </div>

    <%= render 'layouts/sidebar' %>

  </div>
