<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2>
        <strong>
          <%= @optic.name %>
        </strong>
      </h2>
    </div>
  </div>

  <hr>

  <div class="row">

    <div class="col-md-5">

      <p id="notice"><%= notice %></p>
      <p>
        <strong>Model:</strong>
        <%= @optic.model %>
      </p>

      <p>
        <strong>Details:</strong>
        <%= @optic.details %>
      </p>

      <p>
        <strong>Active:</strong>
        <%= @optic.active %>
      </p>

      <p>
        <strong>Due:</strong>
        <%= @optic.due.name %>
      </p>

      <p>
        <strong>Make:</strong>
        <%= @optic.make.name %>
      </p>
      <%= link_to 'Back', optics_path %>

    </div>


    <div class="col-md-5">

      <p>
        <%= image_tag @optic.image.url(:medium) %>
      </p>

    </div>

    <div class="col-md-2">
      <div class="btn-group-vertical" role="group">
        <%= link_to "Rifles & Actions", root_path, :class => "btn btn-success" %>
        <%= link_to "Barrels", root_path, :class => "btn btn-success" %>
        <%= link_to "Optics", root_path, :class => "btn btn-small btn-success" %>
        <%= link_to "Stocks", root_path, :class => "btn btn-small btn-success" %>
        <%= link_to "Archery", root_path, :class => "btn btn-small btn-success" %>
        <%= link_to "Triggers & Accesories", root_path, :class => "btn btn-small btn-success" %>
        <%= link_to "Miscellaneous", root_path, :class => "btn btn-small btn-success" %>
      </div>
    </div>
  </div>

</div>