<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <p id="notice"><%= notice %></p>

      <h1>Listing Stocks</h1>

      <table class="table table-hover table-condensed">
        <thead>
        <tr>
          <th>Name</th>
          <th>Model</th>
          <th>Active</th>
          <th>Due</th>
          <th>Make</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @stocks.each do |stock| %>
            <tr>
              <td><%= stock.name %></td>
              <td><%= stock.model %></td>
              <td><%= stock.active %></td>
              <td><%= stock.due %></td>
              <td><%= stock.make %></td>
              <td><%= link_to 'Show', stock, :class => "btn btn-small btn-primary" %></td>
              <td><%= link_to 'Edit', edit_stock_path(stock), :class => "btn btn-small btn-success" %></td>
              <td><%= link_to 'Destroy', stock, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-small btn-danger" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Stock', new_stock_path, :class => "btn btn-small btn-success" %>

    </div>
    <div class="col-md-1"></div>
  </div>
</div>
