<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2>
        <strong>
          <%= @reloading.name %>
        </strong>
      </h2>
    </div>
  </div>

  <hr>

  <div class="row">

    <div class="col-md-5">

      <p id="notice"><%= notice %></p>
      <p>
        <strong>Model:</strong>
        <%= @reloading.model %>
      </p>
      <p>
        <strong>Make:</strong>
        <%= @reloading.make.name %>
      </p>

      <p>
        <strong>Details:</strong>
        <%= @reloading.details %>
      </p>

      <p>
        <strong>Active:</strong>
        <%= @reloading.active %>
      </p>

      <p>
        <strong>Due:</strong>
        <%= @reloading.due.name %>
      </p>


      <%= link_to 'Back', reloadings_path %>

    </div>


    <div class="col-md-5">

      <p>
        <%= image_tag @reloading.image.url(:medium) %>
      </p>

    </div>

    <%= render 'layouts/sidebar' %>


  </div>

</div>