<div class="container">
<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>

    <h1>Listing Accessories</h1>

    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Make</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Due</th>
        <th>Active</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @miscellaneous.each do |miscellaneou| %>
          <tr>
            <td><%= miscellaneou.name %></td>
            <td><%= miscellaneou.model %></td>
            <td><%= miscellaneou.make %></td>
            <td><%= miscellaneou.qty %></td>
            <td><%= number_to_currency(miscellaneou.price) %></td>
            <td><%= miscellaneou.due %></td>
            <td><%= miscellaneou.active %></td>
            <td><%= link_to 'Show', miscellaneou %></td>
            <td><%= link_to 'Edit', edit_miscellaneou_path(miscellaneou) %></td>
            <td><%= link_to 'Destroy', miscellaneou, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Accessory', new_miscellaneou_path %>

  </div>
</div>
</div>
