<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @miscellaneou.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @miscellaneou.model %>
</p>

<p>
  <strong>Details:</strong>
  <%= @miscellaneou.details %>
</p>

<p>
  <strong>Active:</strong>
  <%= @miscellaneou.active %>
</p>

<p>
  <strong>Due:</strong>
  <%= @miscellaneou.due %>
</p>

<p>
  <strong>Make:</strong>
  <%= @miscellaneou.make %>
</p>

<%= link_to 'Edit', edit_miscellaneou_path(@miscellaneou) %> |
<%= link_to 'Back', miscellaneous_path %>
