<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2>
        <strong>
          <%= @miscellaneou.name %>
        </strong>
      </h2>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-5">

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Model:</strong>
        <%= @miscellaneou.model %>
      </p>

      <p>
        <strong>Make:</strong>
        <%= @miscellaneou.make.name %>
      </p>

      <p>
        <strong>Details:</strong>
        <%= @miscellaneou.details %>
      </p>

      <p>
        <strong>Quantity:</strong>
        <%= @miscellaneou.qty %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @miscellaneou.price %>
      </p>

      <p>
        <strong>Due:</strong>
        <%= @miscellaneou.due.name %>
      </p>

      <%= link_to 'Back to Accessories', miscellaneou_path, :class => "btn btn-success" %>
    </div>

    <div class="col-md-5">

      <p>
        <%= image_tag @barrel.image.url(:medium) %>
      </p>

    </div>

    <%= render 'layouts/sidebar' %>
    
  </div>

