<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2>
        <strong>
          <%= @post.title %>
        </strong>
      </h2>
    </div>
  </div>

  <hr>

  <div class="row">

    <div class="col-md-5">

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Details:</strong>
        <%= @post.details %>
      </p>

      <p>
        <strong>Author:</strong>
        <%= @post.author %>
      </p>

      <p>
        <strong>Published:</strong>
        <%= @post.published %>
      </p>

      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %>


    </div>


    <div class="col-md-5">

      <p>
      </p>

    </div>

    <%= render 'layouts/sidebar' %>


  </div>

