<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>
        <strong>
          <%= @rifle.name %>
        </strong>
      </h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5">

      <p>
        <strong>Model:</strong>
        <%= @rifle.model %>
      </p>

      <p>
        <strong>Make:</strong>
        <%= @rifle.make.name %>
      </p>

      <p>
        <strong>Style:</strong>
        <%= @rifle.style %>
      </p>
      <p>
        <strong>Calibre:</strong>
        <%= @rifle.bore %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= number_to_currency(@rifle.price) %>
      </p>


      <p>
        <strong>Availability:</strong>
        <%= @rifle.due.name %>
      </p>
      <hr>
      <p>
        <%= markdown(@rifle.details) %>
      </p>

      <hr>
      <%= link_to 'Back to Rifles and Actions', rifleproducts_path, :class => "btn btn-success" %>

    </div>

    <div class="col-md-5">
      <p><%#= image_tag @rifle.image.url(:medium) %></p>
    </div
    <div class="col-md-2">
      <%= render 'layouts/sidebar' %>
    </div>

  </div>
</div>