<%= simple_form_for(@trigger) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :make %>
    <%= f.input :model %>
    <%= f.input :fit %>
    <%= f.input :quantity %>
    <%= f.input :price %>
    <%= f.input :details %>
    <%= f.input :active %>
    <%= f.association :due %>
    <%= f.input :image %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
