<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2>
        <strong>
          <%= @trigger.name %>
        </strong>
      </h2>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-5">


      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
      </p>

      <p>
        <strong>Make:</strong>
        <%= @trigger.make.name %>
      </p>

      <p>
        <strong>Model:</strong>
        <%= @trigger.model %>
      </p>

      <p>
        <strong>Fit:</strong>
        <%= @trigger.fit %>
      </p>

      <p>
        <strong>Quantity:</strong>
        <%= @trigger.quantity %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= number_to_currency(@trigger.price) %>
      </p>

      <p>
        <strong>Details:</strong>
        <%= @trigger.details %>
      </p>

      <p>
        <strong>Active:</strong>
        <%= @trigger.active %>
      </p>

      <p>
        <strong>Due:</strong>
        <%= @trigger.due.name %>
      </p>
      <%= link_to 'Edit', edit_trigger_path(@trigger) %> |
      <%= link_to 'Back', triggers_path %>
    </div>

    <div class="col-md-5">
      <p><%= image_tag @trigger.image.url(:medium) %></p>
    </div>

    <%= render 'layouts/sidebar' %>

  </div>
</div>